@import "tailwindcss";

@plugin "daisyui" {
  themes: nord --default, dim --prefersdark;
}
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'custom-font';
  src: url('./assets/fonts/IRANYekanRegular.ttf'), url('./assets/fonts/IRANYekanMedium.ttf'), url('./assets/fonts/IRANYekanBold.ttf');
}

* {
  font-family: 'custom-font' !important;
  scrollbar-width: none;
}

/* 
@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #ffffff;
  --color-base-200: #e9e9e9;
  --color-base-300: #d3d3d3;
  --color-base-content: #05000d;
  --color-primary: #360185;
  --color-primary-content: #05000d;
  --color-secondary: #8F0177;
  --color-secondary-content: #ebe6f3;
  --color-accent: oklch(77.464% 0.062 217.469);
  --color-accent-content: oklch(15.492% 0.012 217.469);
  --color-neutral: oklch(45.229% 0.035 264.131);
  --color-neutral-content: oklch(89.925% 0.016 262.749);
  --color-info: oklch(69.207% 0.062 332.664);
  --color-info-content: oklch(13.841% 0.012 332.664);
  --color-success: oklch(76.827% 0.074 131.063);
  --color-success-content: oklch(15.365% 0.014 131.063);
  --color-warning: oklch(85.486% 0.089 84.093);
  --color-warning-content: oklch(17.097% 0.017 84.093);
  --color-error: oklch(60.61% 0.12 15.341);
  --color-error-content: oklch(12.122% 0.024 15.341);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}



@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #0a0a0a;
  --color-base-200: #070707;
  --color-base-300: #030303;
  --color-base-content: #e9e9e9;
  --color-primary: #360185;
  --color-primary-content: #e9e9e9;
  --color-secondary: #8F0177;
  --color-secondary-content: #ebe6f3;
  --color-accent: oklch(67.271% 0.167 35.791);
  --color-accent-content: oklch(13.454% 0.033 35.791);
  --color-neutral: oklch(27.441% 0.013 253.041);
  --color-neutral-content: oklch(85.488% 0.002 253.041);
  --color-info: oklch(62.616% 0.143 240.033);
  --color-info-content: oklch(12.523% 0.028 240.033);
  --color-success: oklch(70.226% 0.094 156.596);
  --color-success-content: oklch(14.045% 0.018 156.596);
  --color-warning: oklch(77.482% 0.115 81.519);
  --color-warning-content: oklch(15.496% 0.023 81.519);
  --color-error: oklch(51.61% 0.146 29.674);
  --color-error-content: oklch(90.322% 0.029 29.674);
  --radius-selector: 0rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
} */


